.newMemberForm {
    display: grid;
    justify-items: center;
    height: fit-content;
    width: 100%;
}
input,button {
    padding: 10px 0px 10px 0px;
    margin-top: 2%;
}
.buttonForm {
    margin-bottom: 2%;
    width: 90%;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to left, black, black 50%, #efefef 50%, #efefef);
    background-size: 200% 100%;
    color: black;
    transition: ease-in 0.5s;
    border-style: none;
}
.buttonForm:hover {
    transition: ease-in 0.5s;
    background-position: right;
    color: #f2e53a;
    cursor: pointer;
}
.singleRowContainer {
    margin-top: 2%;
    display: grid;
    width: 90%;
    grid-row: 1;
}
#user-id {
    grid-row: 1;
    grid-column: 1;
    margin-right: 1%;
    width: 98.5%;
}
#user-name {
    width: 98.5%;
    grid-row: 1;
    grid-column: 2;
    margin-left: 1%;
}
#user-email, #user-weight {
    width: 90%;
}