.newMemberForm {
   display: grid;
   margin: 3%;
   width: inherit;
}
input,button,select,label {
    padding: 10px 0px 10px 0px;
    margin-top: 2%;
}
.buttonForm {
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to left, black, black 50%, #efefef 50%, #efefef);
    background-size: 200% 100%;
    color: black;
    transition: ease-in 0.5s;
    border-style: none;
}
.buttonForm:hover {
    transition: ease-in 0.5s;
    background-position: right;
    color: #f2e53a;
    cursor: pointer;
}
.singleRowContainer {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.singleRowContainer input,.singleRowContainer select {
    align-self: stretch;
    grid-row: 1;
}